.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  width: 90%;
  text-align: center;
  transition: background 0.3s;
  line-height: 1.5;
}
.button:hover {
  background-color: #45a049;
}
.button i {
  margin-right: 10px;
}
