/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* 全域 */
*,*::before,*::after{
    box-sizing: border-box;
}

img{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 32px;
  font-weight: bolder;
  width: 100%;
}

h2{
  font-size: 24px;
  font-weight: bolder;
  text-align:center;
  width: 90%;
  line-height: 1.2;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-size: 24px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffe2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
  text-align: center;
}

header {
  max-width: 100%;
  margin: 50px 0 50px 0;
}

.logo {
  max-width: 150px;
  margin: 2cm 0 10px 0;
}

.copyright{
  font-size: 10px;
  color: #666;
  margin-top: 10px;
  text-align: center;
}

#qr-reader {
  width: 80%;
  height: auto;
  margin: 20px auto;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  overflow: hidden; /* 確保相機畫面不會超出圓角範圍 */
}

#result {
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  display: none;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

/* 彈出式視窗樣式 */
/* 彈出視窗樣式 */
.popup-window {
  display: none; /* 初始隱藏 */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9); /* 初始縮小 */
  width: 80%;
  max-width: 500px;
  height: 60%;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  z-index: 1000; /* 確保彈出視窗在最上層 */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popup-window.visible {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* 彈出視窗顯示並恢復原始大小 */
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

/* 查詢結果樣式 */
#query-result {
  word-wrap: break-word; /* 強制長字串換行 */
  white-space: normal;  /* 防止文字過長不換行 */
  max-width: 100%;      /* 確保不超過彈出視窗的寬度 */
  overflow: auto;       /* 如果文字超過可見區域會顯示滾動條 */
  padding: 10px 0;      /* 給文字一點上下邊距 */
}


.action-buttons {
  max-width: 100%;
  margin-top: 20px;
}

button {
  padding: 15px 35px;
  margin: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;;
}

#cancel-btn {
  background-color: #ffffff;
  color: #007BFF;
  border: #333 1px solid;
}

button:hover {
  background-color: #0056b3;
}
